* {
  box-sizing: border-box;
}
#output {
background-image: linear-gradient(to top left,rgb(0, 0, 0),rgb(128, 126, 126));
border: solid ;
border-color:rgba(243, 233, 217, 0.925);
border-width: 20px 10px 25px 10px;
border-radius: 0.5em;
box-shadow: inset 4px 4px;
max-width: 95%;
}
#result_text{
    color:blanchedalmond;
    margin-bottom: 20px;
}
body{
  background-image: linear-gradient(to left,#04c5c5,#049b9b);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  overflow-x: auto;
  overflow-y: auto;
  text-overflow: ellipsis;
  margin : 5px 15px;
  min-width: min-content;
}
#result-text{
  font-size: xx-large;
}
.sameLine,#first_run,#res_container{
  display:inline-block;
  vertical-align: middle;
}
#myList{
  min-height:30px;
  min-width:80px;
  font-size: 16px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 0.4em;
}
#size,#dpi,#width_value,#length_value{
  min-height:24px;
  min-width:5ch;
  font-size: 18px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 0.4em;
  width:5ch;
}
.button {
  background-image: linear-gradient(to right, #040075 0%,#3c39a0 0%, #585aee 100%);
  border: 0.1px solid;
  color: rgb(255, 255, 255);
  padding: 10px 15px;
  font-size: 17px;
  margin:0 auto; text-align: center;
  width: fit-content;
}
.caution {
  margin: 10px 0 5px 0;
  padding:1px;
  background-color: #e4d3a6;
  color: black;
  border-left: 6px solid #fd2020;
  font-size: 15px;
  font-style:normal;
  text-align: auto;
}
#content-container{
  max-height: 100%;
}
.navbar-text {
  position: absolute;
  width: 100%;
  left: 0;
  text-align: center;
  margin: auto;
  padding-top: 10px;
  font-size: 30px;
  font-family:'Barrio';
  font-weight: bold;
}
.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  height: 100%;
  width: auto;
}
.centerScreen{
  margin: 0 auto;
}
#width_value,#length_value{
  min-width: 6ch;
}
img{
  border-right:3px solid rgb(197, 197, 197);
  margin:0 15px 0 6px;
  padding-right: 6px;
}

hr {
  border-color: #4A262F;
  border-width: 1px;
}

/* latin-ext */
@font-face {
  font-family: 'Barrio';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/barrio/v17/wEO8EBXBk8hBIDi0fAwgads.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Barrio';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/barrio/v17/wEO8EBXBk8hBIDi0cgwg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
